body {
    padding-top: 50px;
    padding-bottom: 20px;
}

hr {
    clear: both;
}

textarea {
    resize: none;
}

.error {
    color: red;
}

#bigLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.action_buttons {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.action_buttons * {
    width: 30%;
}

.navbar-inverse {
  background-color: #5e8eb2;
  border: none;
  color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

#search_bar {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 300px;
    white-space: nowrap;
    float: right !important
}

#home_search_bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    width: 60%;
}

#home_search_bar #search_input {
    display: inline-block;
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#search_button {
    display: inline-block;
}

.comment {
    display: block;
    clear: both;
    float: right;
    width: 50%;
    background-color: #EFEFEF;
    margin: 5px;
}

.submit_comment {
    margin: 5px;
    max-width: 200px;
}

#comments_section {
    width: 60%;

}

.blog_name {
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
}

#new_comment {
    display: block;
    float: right;
}

.post {
    width: 60%;
    margin-bottom: 30px;
}

.post_title {
    margin-bottom: 0px;
}

.post_content {
    background-color: #EEE;
    margin: 5px;
    min-height: 50px;
    padding: 10px;
}

.post_date {
    margin: 0px 0px 0px 5px;
    color: #808080;
    font-size: 1em;
}

.tag {
    padding: 2px;
    background-color: #E5E5E5;
}

.view_comments_button {
    margin-left: 5px;
}


.form-control {
    display: inline;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
