

<span>Are you sure you want to delete your account?</span>

<form method="post">
    <input type="hidden" name="sure" value=1>
    <button type="submit" class="form-control btn btn-default submit_comment">Yes, I'm sure.</button>
</form>

<form method="post">
    <input type="hidden" name="sure" value=0>
    <button type="submit" class="form-control btn btn-default submit_comment">No, I changed my mind.</button>
</form>

