@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<div>
    <img  id="bigLogo" src="../Content/Images/logo.png" />
</div>
<div>
<div class="actionButtons">
    <a href="/Account/Register"><button class="btn">Register</button></a>
    <a href="Account/Login"><button class="btn">Login</button></a>
</div>
</div>