@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UBlogPress</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Filler.</h2>
        <p>
          Filler.
        </p>
    </div>
  
</div>