
@{
    ViewBag.Title = "SearchUser";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form action="~/Views/Search/SearchUser.cshtml" method="post">
        <input type="text" name="NameDisplay" /> 
        <input type="submit" value="Search" />

    </form>
    
         <span class="error">@ViewBag.StatusMessage</span>
        
}